@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}
@layer components {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.slice-of-life {
  @apply text-[#9ab710];
}
.bg-slice-of-life {
  @apply bg-[#9ab710];
}
.romance {
  @apply text-[#fd337f];
}
.bg-romance {
  @apply bg-[#fd337f];
}
.fantasy {
  @apply text-[#8b00e9];
}
.bg-fantasy {
  @apply bg-[#8b00e9];
}
.drama {
  @apply text-[#00b19a];
}
.bg-drama {
  @apply bg-[#00b19a];
}
.action {
  @apply text-[#006afa];
}
.bg-action {
  @apply bg-[#006afa];
}
.comedy {
  @apply text-[#888172];
}
.bg-comedy {
  @apply bg-[#eea800];
}
.sports {
  @apply text-[#1ba8f2];
}
.bg-sports {
  @apply bg-[#1ba8f2];
}
.mystery {
  @apply text-[#434458];
}
.bg-mystery {
  @apply bg-[#434458];
}
.hm-comedy {
  @apply bg-[#eea800];
}
.fanstasy {
  @apply text-[#8b00e9];
}
.bg-fanstasy {
  @apply bg-[#8b00e9];
}
.thriller {
  @apply text-[#c00355];
}
.bg-thriller {
  @apply bg-[#c00355];
}
.supernatural {
  @apply text-[#7a41e9];
}
.bg-supernatural {
  @apply bg-[#7a41e9];
}
.historical {
  @apply text-[#62422b];
}
.bg-historical {
  @apply bg-[#62422b];
}
.horror {
  @apply text-[#be0000];
}
.bg-horror {
  @apply bg-[#be0000];
}
.heartwarming {
  @apply text-[#fd6900];
}
.bg-heartwarming {
  @apply bg-[#fd6900];
}
.superhero {
  @apply text-[#4a20e2];
}
.bg-superhero {
  @apply bg-[#4a20e2];
}
.hm-superhero {
  @apply bg-[#7a41e9];
}
.bg-sci-fi {
  @apply bg-[#2d4464];
}
.sci-fi {
  @apply text-[#2d4464];
}

.ql-container {
  font-size: 15px !important;
}
